
header{
    background-color: white;
    border-radius: 8px;
    padding: 1rem;
    margin-bottom: 1rem;
}

header nav ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}


header nav ul a{
    color: black;
    text-decoration: none;
    align-items: start;
}

.home-page{
    font-weight: bold;
}


.parent{
    display: grid;
    margin-top: 1rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
    padding: 1rem;
}