.country-card{
    background-color: var(--white);
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    text-align: start;
    gap: 3px;
    border-radius: 10px;
    margin-bottom: 1rem;
    padding: 0;
    overflow: scroll;
}

.country-card img{
   width: 100%;
   height: 180px;
   object-fit: cover;
   border-top-right-radius: 8px;
   border-top-left-radius: 8px;
}


.country-card-text{
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    height: 100%;
}

.country-card .country-card-text h2{
    text-align: start;
    margin-bottom: 0;
}
.country-card .country-card-text p{
    margin-bottom: 0;
}