form{
    padding: auto;
}
input{
    border: none;
    border-radius: 0.1rem;
    padding: 0.8rem;
}

textarea{
    border: none;
    border-radius: 0.1rem;
    resize: none;
    padding: 0.3rem;
    margin-bottom: 1rem;
}
button{
    background-color: var(--purple );
    border: none;
    font-weight: 200;
    color: var(--white);
    display: block;
    padding:0.2rem 0.8rem;
}